/* universal */

html {
  font-size: 16px;
}

body {
  max-width: 100%;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}
/*  header */

.thebigone {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 100%;
  height: 4rem;
}

.title {
  display: flex;
  align-items: center;
  flex: 1;
}

header nav ul {
  display: flex;
}

.navigation-menu {
position: relative;
right: 16px;
}

.navigation-menu li {
display: inline-flex;
margin: auto 8px;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navigation-menu ul {
    display: none;
  }

  header .desktop {
    display: none;
}

  header .mobile {
    display: block;
    width: 100%
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

}
/* general body of content */

.largetext {
  font-size: 1.3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

/* jumbotron 1 */

.textbox-jumbo1 {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.jumbotron-1 {
  display: inline-flex;
  align-items: center;
  background-color: lightgrey;
}

.image-jumbo1 {
  width: 60%;
  margin: 32px 24px;
}

.jumbotron-1 img {
  max-width: 100%;
  height: auto;
}

.title-jumbo1 h1 {
  font-size: 2.2rem;
  font-weight: bold;
}

.textbox-jumbo1 p {
  font-size: 1.2em;
  margin: 16px 0;
}

.link-jumbo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 8px 0;
}

@media only screen and (max-width: 600px) {
  .jumbotron-1 {
    display: flex;
    flex-direction: column;
  }

  .jumbotron-1 img {
    width: 100%;
  }

  .image-jumbo1 {
    margin: 0 0 32px 0;
    width: 100%;
  }

  .textbox-jumbo1 {
    margin: 0 1rem 2rem;
  }

  .textbox-jumbo1 p {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

}

/* jumbotron 2 general */

.jumbotron-2 {
  display: inline-flex;
}

/* jumbotron 2 1st column */

.main-article {
  max-width: 60%;
  padding: 32px 24px;
  border-right: 1px solid lightgrey;
}

.image-jumbo2 {
  max-width: 100%;
}

.image-jumbo2 img {
  max-width: 100%;
  height: auto;
}

.textbox-jumbo2 h2 {
  padding: 32px 0 24px 0;
}

.strategist {
  margin-top: 32px;
}

/* jumbotron 2 2nd column */

.general-articles-jumbo2 {
  max-width: 40%;
  margin-top: 16px;
}

.article-jumbo2 {
  display: inline-flex;
  align-items: center;
  padding: 16px 0 16px 16px;
}

.text-column2 {
  max-width: 65%;
  margin-left: 16px;
  margin-right: 24px;
}

.text-column2 a {
  color: blue;
}

.article-jumbo2 img {
  max-width: 100%;
  height: auto;
}

.infoboxes {
  max-width: 35%;
  height: auto;
}

.words {
  margin: 8px 0;
}

@media only screen and (max-width: 600px) {
  .main-article {
    display: none;

  }

  .jumbotron-2 {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .general-articles-jumbo2 {
    display: flex;
    flex-direction:column;
    margin: 16px 16px 32px 16px;
    max-width: 100%;
  }

  .article-jumbo2 {
    display: inline-flex;
    flex-direction: column;
    padding: 0;
  }

  .infoboxes {
    width: 100%;
  }
}
/* jumbotron 3 */

.jumbotron-3 {
  background-color: lightgrey;
}

.sectionheading-jumbo3 {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.maincontainer-jumbo3 {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 56px 32px;
}

.row {
  display: inline-flex;
  max-width: 960px;
}

.majors {
  max-width: 250.66px;
  margin: 16px;
}

.majors img {
  max-width: 100%;
  height: auto;
}

.title-jumbo3 {
margin-bottom: 8px;
}

.textbox-jumbo3 {
padding: 16px 16px 24px;
}

.textbox-jumbo3 p {
  margin-top: 8px;
}

/* jumbotron 4 */

.sectionheading-jumbo4 {
  display: flex;
  justify-content: center;
  margin: 32px auto;
}

.container4 {
  display: inline-flex;
}

/* jumbotron 4 column 1 */

.column1-jumbo4 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 24px 32px;
}

video {
  width: 100%;
  height: auto;
}

.title-jumbo4 {
  margin-top: 24px;
  margin-bottom: 8px;
}

/* jumbotron 4 column 2 */

.column2-jumbo4 {
  max-width: 40%;
}

.article-jumbo4 img {
  max-width: 35%;
  height: auto;
}

.article-jumbo4 {
  display: inline-flex;
  align-items: center;
  padding: 16px 0 16px 16px;
}

.text4-column2 {
  max-width: 65%;
  margin-left: 16px;
  margin-right: 24px;
}

.words4 {
  margin: 8px 0;
}

footer {
  display: inline-flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 16px 24px 32px 24px;

}


footer li {
  display: inline-flex;
  justify-content: flex-end;
}
