/* universal */
body {
  width: 960px;
  border: 1px solid grey;
}
/*  header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
}

.title {
  display: inline-flex;
  align-items: center;
  height: 32px;
  position: relative;
  left: 24px;
}

.navigation-menu {
position: relative;
right: 16px;
}

.navigation-menu li {
display: inline-flex;
margin: auto 8px;
}
/* general body of content */

.largetext {
  font-size: 1.3rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

/* jumbotron 1 */

.textbox-jumbo1 {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.jumbotron-1 {
  display: inline-flex;
  align-items: center;
  background-color: lightgrey;
}

.image-jumbo1 {
  width: 60%;
  margin: 32px 24px;
}

.jumbotron-1 img {
  max-width: 100%;
  height: auto;
}

.title-jumbo1 h1 {
  font-size: 2.2rem;
  font-weight: bold;
}

.textbox-jumbo1 p {
  font-size: 1.2em;
  margin: 16px 0;
}

.link-jumbo1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 8px 0;
}

/* jumbotron 2 general */

.jumbotron-2 {
  display: inline-flex;
}

/* jumbotron 2 1st column */

.main-article {
  width: 60%;
  padding: 32px 24px;
  border-right: 1px solid lightgrey;
}

.image-jumbo2 {
  max-width: 100%;
}

.image-jumbo2 img {
  max-width: 100%;
  height: auto;
}

.textbox-jumbo2 h2 {
  padding: 32px 0 24px 0;
}

.strategist {
  margin-top: 32px;
}

/* jumbotron 2 2nd column */

.general-articles-jumbo2 {
  max-width: 40%;
  margin-top: 16px;
}

.article-jumbo2 {
  display: inline-flex;
  align-items: center;
  padding: 16px 0 16px 16px;
}

.text-column2 {
  max-width: 65%;
  margin-left: 16px;
  margin-right: 24px;
}

.text-column2 a {
  color: blue;
}

.article-jumbo2 img {
  max-width: 35%;
  height: auto;
}

.words {
  margin: 8px 0;
}

/* jumbotron 3 */

.jumbotron-3 {
  background-color: lightgrey;
}

.sectionheading-jumbo3 {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.maincontainer-jumbo3 {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 56px 32px;
}

.majors {
  max-width: 250.66px;
  margin: 16px;
}

.majors img {
  max-width: 100%;
  height: auto;
}

.title-jumbo3 {
margin-bottom: 8px;
}

.textbox-jumbo3 {
padding: 16px 16px 24px;
}

.textbox-jumbo3 p {
  margin-top: 8px;
}

/* jumbotron 4 */

.sectionheading-jumbo4 {
  display: flex;
  justify-content: center;
  margin: 32px auto;
}

.container4 {
  display: inline-flex;
}

/* jumbotron 4 column 1 */

.column1-jumbo4 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 24px 32px;
}

video {
  width: 100%;
  height: auto;
}

.title-jumbo4 {
  margin-top: 24px;
  margin-bottom: 8px;
}

/* jumbotron 4 column 2 */

.column2-jumbo4 {
  max-width: 40%;
}

.article-jumbo4 img {
  max-width: 35%;
  height: auto;
}

.article-jumbo4 {
  display: inline-flex;
  align-items: center;
  padding: 16px 0 16px 16px;
}

.text4-column2 {
  max-width: 65%;
  margin-left: 16px;
  margin-right: 24px;
}

.words4 {
  margin: 8px 0;
}
